* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hide {
    visibility: hidden;
}

button {
    width: 5rem;
}

/* CATALOG */

.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem;
    margin: 1rem 0;
}

.item {
    outline: 1px solid red;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.item h2 {
    font-size: 1rem;
}

.item div {
    text-align: center;
}

.controls {
    display: flex;
    align-items: center;
}

.controls button {
    margin: .5rem;
    width: 2rem;
}

/* CART */

nav {
    text-align: right;
    margin: 0 1rem;
}

.cart {
    outline: 1px solid red;
    margin: 1rem;
    padding: 1rem;
}

#cart-contents {
    margin-bottom: 1rem;
}

.cart-headers {
    text-align: center;
    border-bottom: 1px solid lightgray;
    margin-bottom: .25rem;
    padding-bottom: .25rem;
}

.cart-item, .cart-headers {
    display: grid;
    grid-template-columns: 3fr .75fr 1.25fr 1fr;
    font-size: .9rem;
}

.cart-item p {
    border-bottom: 1px solid lightgray;
}

.price-detail {
    text-align: center;
    border-left: 1px solid lightgray;
}